body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table th, .table td {
    vertical-align: middle !important;
}

.alert {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}
